/* Event Detail Page CSS Begins*/
iframe{
    border-width: 0px;
    border:0; 
    width:100%;
  }

.extra-space {
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}

.text-padding{
  padding-left: 40px;
}


agm-map{
  height: 400px;
}
  /* Event Detail Page CSS Ends*/