
<div class="container-fluid bgStyle">

	<div class="row">
		<div class="col-md-4 col-sm-4 col-xs-12"></div>
		<div class="col-md-4 col-sm-4 col-xs-12">	
				<!--<form  method="POST" name="logform" action="index.html"  onsubmit="return validate();" class="formStyle">-->
			<form (submit)="onLogin(loginForm)" #loginForm="ngForm" class="formStyle" name="loginForm">
				<h1 class="center">Login</h1>
				<br/>
				<div *ngIf="!isLoading" class="val_error center pb">Invalid Credentials 
					<!-- <span *ngIf="!isLoading" class="invalid"> Invalid Credentials </span> -->
				</div> 
				<div class="form-group input-group">
					<div class="input-group-prepend w2">
						<span class="input-group-text" id="emailIcon"> <img class="iconwidth" src="../../assets/images/close-envelope.svg" alt="emailIcon">  </span>
					</div>
					<input class="form-control" name="email" ngModel type="email" placeholder="Email address" #emailInput="ngModel" required email pattern=".*@dal\.ca">
					<mat-error *ngIf="emailInput.invalid && (emailInput.touched)" class="w-100">*Please enter a valid email.</mat-error>

				</div> 
				<br/>
				<div class="form-group input-group">
					<div class="input-group-prepend w2">
						<span class="input-group-text"> <img class="iconwidth" src="../../assets/images/house-key.svg" alt="pass"> </span>
					</div>
					<input class="form-control" name="password" minlength="2" placeholder="Password" ngModel type="password" #passwordInput="ngModel" required>	 
				</div>					
				<div id="pass_error" class="val_error"></div>	 
				<div class="form-group form-check">
					<input type="checkbox" class="form-check-input" id="exampleCheck1">
					<label class="form-check-label" for="exampleCheck1" id="rememberLabel">Remember Me</label>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-block" [disabled]="!loginForm.valid"> Log In </button>
				</div> 
				<div class="container-forgot">
					<a class="forgot-password container-forgot" href="/forgot-password">Forgot Password?</a>
				</div>  
			</form>
		</div>
	</div>
</div>		
	