<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/user-profile">User Profile</a>
      </li>
      <li class="nav-item">
            <a class="nav-link" href="/event-details">Event Details</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/create-event">Create Event</a>
      </li>
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
  <li class="dropdown nav-item active">
    <a class="dropdown-toggle" data-toggle="dropdown"  href="#">user-profile
    <span class="nav-item active"></span></a>
    <ul class="dropdown-menu">
      <li ><a href="#">Create event</a></li>
      <li><a href="#">How to buy tickets?</a></li>
      <li><a href="#">How to cancel the ticket?</a></li>
      <li><a href="#">Contact Us</a></li>
      <li><a href="#">Sign Out</a></li>
        <li class="divider"></li>
      <li><a href="#">Any other issue</a></li>
    </ul>
  </li>
</nav>