@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus
{
	
	color:#2e6da4 !important;
	background-color:#f2f2f2 !important;
}

.dropdown-menu > li > a
{
	color:#2e6da4;	
}

.navbar { background-color: #3f3f3f; } 
