@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus
{
	
	color:#2e6da4 !important;
	background-color:#f2f2f2 !important;
}

.dropdown-menu > li > a
{
	color:#2e6da4;	
}

.navbar { background-color: #3f3f3f; } 

.nav-link{
	background-color:transparent !important;
}

.boxtransition{
    cursor: pointer;
    transition: all 0.3s linear;
}

.boxtransition:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

@media only screen and (min-width: 150px) {

	.btnposition{
		  width: 70%;
	}
	.dropdown-menu{
		position: absolute !important;
	}
	.nav-link{
		 background-color:transparent !important;
	}
	.imagetitle{
		display: none;
	}

}
@media only screen and (min-width: 990px) {
	.imagetitle{
		display:inline-block;
	}
	.dropdownfield{
		display: none;
	}
}

#imagewidth{
	margin-right: -1em;
    padding-right: 2.5em;
}

.imagespacing
{
    padding-right: 0px;
    margin-right: 0px;
    width: 41px;
}