<nav class="boxtransition navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <a class="navbar-brand" href="#"> <img src="../../assets/images/dalLogo.png" width="60" height="40" class="d-inline-block align-top" alt=""> DalEvents </a>
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo02">
    <form class="form-inline my-2 my-lg-0" (ngSubmit)="onSubmit(searchInput.value)" >
        <input class="form-control mr-sm-2" type="text" placeholder="Search" #searchInput> 
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <ul class="navbar-nav mt-2 mt-lg-0 nav nav-tabs border-0" role="tablist" >
      <li class="nav-item">
        <a class="nav-link" href="#" role="tab" aria-selected="true">Browse Events <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" *ngIf="!userIsAuthenticated">
        <a class="nav-link" href="/login" aria-selected="false">Login</a>
      </li>
      <!-- <li class="nav-item" *ngIf="userIsAuthenticated">
          <a class="nav-link" href="/user-profile">User Profile</a>
      </li> -->
      <li class="nav-item" *ngIf="userIsAuthenticated">
        <a class="nav-link" href="/create-event">Create Event</a>
      </li>
      <li>
        <a data-toggle="tab" class="nav-link" href="#help">Help</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" *ngIf="userIsAuthenticated" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#help">{{fname}}</a>
        <div class="dropdown-menu dropdown-menu-right dropdownfield" aria-labelledby="navbarDropdownProfile" *ngIf="userIsAuthenticated">
            <a class="dropdown-item" href="/user-profile" >Profile</a>
            <a class="dropdown-item" href="#">Settings</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="onlogout()">Log out</a>
          </div>
      </li>
    </ul>
    <div>
	    <ul class="navbar-nav mt-2 mt-lg-0 bar-width">
			    <li class="nav-item dropdown" *ngIf="userIsAuthenticated">
		            <a class="nav-link" href="#" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" *ngIf="userIsAuthenticated">
		               <img class="imagetitle imagespacing" src="../../assets/images/man.svg" alt="userprofile">
                </a>
		            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile" *ngIf="userIsAuthenticated">
		              <a class="dropdown-item" href="/user-profile" >Profile</a>
		              <a class="dropdown-item" href="#">Settings</a>
		              <div class="dropdown-divider"></div>
		              <a class="dropdown-item" (click)="onlogout()">Log out</a>
		            </div>
		        </li>
		    </ul>
		</div>
  </div>
</nav>