          <div class="container-fluid" style="margin-top: 70px;">
              <div class="pull-right">
                  <button class="btn btn-primary" form="edit_profile" type="submit" >Publish</button>
                  <button class="btn btn-success" onClick="location.href = 'HomepageUserLoggedIn.html'" type="submit">Save as draft</button>
              </div>
              <h1>Create an event</h1>
          </div>
    

      <div class="container-fluid">
          <div class="row">

              <form id="edit_profile" action="HomepageUserLoggedIn.html">
              
                      <div class="row">
                          <div class="col-md-3 col-sm-3 col-xs-3">
                              <label class="control-label">
                                  Event Name <span class="text-danger">*</span>
                              </label>
                          </div>
                          <div class="col-md-9 col-sm-9 col-xs-9">
                              <input type="text" class="form-control" placeholder="Enter event name here" required />
                          </div>
                      </div>

                      <div class="row">
                          <div class="col-md-3 col-sm-3 col-xs-3">
                              <label class="control-label">
                                  Location <span class="text-danger">*</span>
                              </label>
                          </div>
                          <div class="col-md-9 col-sm-9 col-xs-9">
                              <input type="text" class="form-control" id="autocomplete" placeholder="Enter your address" required />
                          </div>
                      </div>

                      <div class="row">
                          <div class="col-md-3 col-sm-3 col-xs-3">
                              <label class="control-label">
                                  Start <span class="text-danger">*</span>
                              </label>
                          </div>
                          <div class="col-md-9 col-sm-9 col-xs-9 ">
                              <input type="text" class="form-control" id="start_date" required  />
                          </div>
                      </div>

                      <div class="row">
                          <div class="col-md-3 col-sm-3 col-xs-3">
                              <label class="control-label">
                                  End <span class="text-danger">*</span>
                              </label>
                          </div>
                          <div class="col-md-9 col-sm-9 col-xs-9">
                              <input type="text" class="form-control"  id="end_date" required/>
                          </div>
                      </div>

                      <div class="row">
                          <div class="col-md-3 col-sm-3 col-xs-3">
                              <label class="control-label">
                                  Category <span class="text-danger">*</span>
                              </label>
                          </div>
                          <div class="col-md-9 col-sm-9 col-xs-9">
                              <select class="form-control" required>
                                  <option value>Select...</option>
                                  <option value="1">Option 1</option>
                                  <option value="2">Option 2</option>
                                  <option value="3">Option 3</option>
                              </select>
                          </div>
                      </div>

                      <div class="row">
                          <div class="col-md-3 col-sm-3 col-xs-3">
                              <label class="control-label">
                                  Free/Paid <span class="text-danger">*</span>
                              </label>
                          </div>
                          <div class="col-md-9 col-sm-9 col-xs-9">
                              <select class="form-control" required>
                                  <option value>Select...</option>
                                  <option value="1">Free</option>
                                  <option value="2">Paid</option>
                              </select>
                          </div>
                      </div>

                      <div class="row">
                          <div class="col-md-3 col-sm-3 col-xs-3">
                              <label class="control-label">
                                  Upload Image 
                              </label>
                          </div>
                          <div class="col-md-9 col-sm-9 col-xs-9">
                              <div class="custom-file">
                                  <input type="file" class="form-control" id="image" multiple accept='image/*'>
                              </div>
                              <br>
                              <img id="image_placeholder" src="images/image-placeholder.png" alt="preview" height="100" width="100" style="margin-top: 5px;">
                          </div>
                      </div>

                      <div class="row">
                              <div class="col-md-3 col-sm-3 col-xs-3">
                                  <label class="control-label">
                                      Event Description <span class="text-danger">*</span>
                                  </label>
                              </div>
                              <div class="col-md-9 col-sm-9 col-xs-9">
                                  <textarea class="form-control" rows="3" required></textarea>
                              </div>
                          </div>
              </form>
          </div>
      </div>
  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="js/bootstrap.min.js"></script>

      
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://unpkg.com/gijgo@1.9.11/js/gijgo.min.js" ></script>
      <script>
          /* 
              Gigmo date picker library for bootstrap 3 for input calendar 
              https://gijgo.com/datepicker/example/bootstrap
          */
          $('#start_date').datepicker({
              uiLibrary: 'bootstrap'
          });

          $('#end_date').datepicker({
              uiLibrary: 'bootstrap'
          });

        
      </script>

      <!-- 
          Google places library for autocomplete address
          https://developers.google.com/places/web-service/autocomplete 
      -->
      <script>
          var placeSearch, autocomplete;
          function initAutocomplete() {
              autocomplete = new google.maps.places.Autocomplete(
                  document.getElementById('autocomplete'), {types: ['geocode']});
              autocomplete.setFields('address_components');
              autocomplete.addListener('place_changed', fillInAddress);
          }
      </script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBNdiyMN5FyK1S7ANcS7Ae39r5CIJcfX3Q&libraries=places&callback=initAutocomplete"
              async defer></script>
