<div id="highlighted" class="bg">
  <div class="margin-top3em body">
        <h1>Forgot Password ?</h1>
  
  <div id="content" class="interior-page">
    <div>
        <form (submit)="onForgot(forgotform)" #forgotform="ngForm" class="formStyle" name="forgotform">
        <!--Content-->
            <div class="forgot-form">
              <p class="p">Student support for Brightspace is provided by the Help Desk. Phone 902-494-2376 (and press option 1) or 1-800-869-3931, or email helpdesk@dal.ca</p>
              <!-- <label class="label-default" for="un">Email Address</label> 
              <input class="form-control" name="email" ngModel type="email" placeholder="Email address" #emailInput="ngModel" required email pattern=".*@dal\.ca">
              <br>
              <button id="mybad" class="btn btn-primary" type="submit"  [disabled]="!forgotform.valid">RESET</button> 
                <br> -->
            </div>
            <div class="forgot-return" style="display:none;">
              <h2>Reset Password Sent</h2>
              <p>An email has been sent to your address with a reset password you can use to access your account.</p>
            </div>
        </form>
    </div>
  </div>
</div>
</div>